.fullPostImg {
    display: block;
    background-color: black;
    width: 100%;
    max-height: 540px;
    object-fit: contain;
    border: 1px solid rgb(124, 124, 124);
    border-radius: 10px;
}

.postCommentsDivider {
    border: 2px solid rgb(255, 255, 255);
}

.postIcons {
    height: 24px;
    width: auto;
}

.postIcons-down {
    height: 24px;
    width: auto;
    transform: rotateX(180deg);
}